{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
    {% block app_content %}
           <h1>Submit Run</h1>
           <form method="post" action="{{ url_for('register_run') }}">
               {{ form.hidden_tag() }}
               <div>{{ form.date.label }}{{ form.date() }}</div>
               <div>{{ form.distance.label }}{{ form.distance() }}</div>
               <div>{{ form.hours.label }}{{ form.hours() }}</div>
               <div>{{ form.minutes.label }}{{ form.minutes() }}</div>
               <div>{{ form.seconds.label }}{{ form.seconds() }}</div>
               <div>{{ form.temperature.label }} {{ form.temperature() }}</div>
               <div> {{ form.time_of_day.label }} {{ form.time_of_day() }}</div>
               <div>{{ form.effort.label }}{{ form.effort() }}</div>
               <div>{{ form.weather.label }}{{ form.weather() }}</div>
               <div>{{ form.notes.label }}{{ form.notes() }}</div>
               <div>
                   <button type="submit">Submit</button>
               </div>
           </form>
    {% endblock %}