{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
    {% block app_content %}
        <h1>{{ datetime.today().date() }}</h1>
        <br>
        {% if num_runs > 0 %}
            <h3>Run Score: {{ score }}</h3>
            <h3>Time: {{ time }}</h3>
            <h3>Distance: {{ distance }}</h3>
            <h3>Avg Pace: {{ avg_pace }}</h3>
            <h3>Scored Effort: {{ effort }}</h3>
            <h3>Temp: {{ temp }}</h3>
            <h3>Time of Day: {{ time_of_day }}</h3>
            <h3>Notes: {{ notes }}</h3>
        {% else %}
            <h3>No run data available for today.</h3>
        {% endif %}
        <br>
        {% if user_sleep %}
            <h3>Sleep Score: {{ sleep_trend(user_sleep, current_user) }}</h3>
            <h3>Total Time Asleep: {{ user_sleep.duration() }}</h3>
            <h3>Bedtime: {{ user_sleep.bedtime }}</h3>
            <h3>Wake Up: {{ user_sleep.wake_up }}</h3>
            <h3>Any Dreams?: {{ user_sleep.dreams_torf }}</h3>
            <h3>Woken Up?: {{ user_sleep.times_awoken }}</h3>
            <h3>Notes: {{ user_sleep.notes }}</h3>
        {% else %}
            <h3>No sleep data available for today.</h3>
        {% endif %}
    {% endblock %}