<div>
    <h1>COMPARE OVERALL STATS:</h1>
{% if len(user_runs) > 2 and len(selected_user_runs) > 2 %}
    <h3>{{ user.username }} VERSUS {{ selected_user.username }}</h3>
    <h4> Miles: {{ sum_function(user_runs, "distance", user) }}
        {% if sum_function(user_runs, "distance", user) > sum_function(selected_user_runs, "distance", selected_user) %}
            <<<
        {% else %}
            >>>
        {% endif %}
        {{ sum_function(selected_user_runs, "distance", selected_user) }}</h4>
    <h4> Time: {{ sum_function(user_runs, "duration", user) }}
        {% if sum_function(user_runs, "duration", user) > sum_function(selected_user_runs, "duration", selected_user) %}
            <<<
        {% elif sum_function(user_runs, "duration", user) > sum_function(selected_user_runs, "duration", selected_user) %}
            >>>
        {% else %}
            ---
        {% endif %}
        {{ sum_function(selected_user_runs, "duration", selected_user) }}</h4>
    <h4> Avg Pace: {{ avg_function(user_runs, "pace", user) }}
        {% if avg_function(user_runs, "pace", user) < avg_function(selected_user_runs, "pace", selected_user) %}
            <<<
        {% elif avg_function(user_runs, "pace", user) > avg_function(selected_user_runs, "pace", selected_user) %}
            >>>
        {% else %}
            ---
        {% endif %}
        {{ avg_function(selected_user_runs, "pace", selected_user) }}</h4>
    <h4> Effort: {{ avg_function(user_runs, "effort", user) }}
        {% if avg_function(user_runs, "effort", user) < avg_function(selected_user_runs, "effort", selected_user) %}
            <<<
        {% elif avg_function(user_runs, "effort", user) > avg_function(selected_user_runs, "effort", selected_user) %}
            >>>
        {% else %}
            ---
        {% endif %}
        {{ avg_function(selected_user_runs, "effort", selected_user) }}</h4>
    <h4> Run Score: {{ avg_function(user_runs, "run_score", user) }}
        {% if avg_function(user_runs, "run_score", user) < avg_function(selected_user_runs, "run_score", selected_user) %}
            <<<
        {% elif avg_function(user_runs, "run_score", user) > avg_function(selected_user_runs, "run_score", selected_user) %}
            >>>
        {% else %}
            ---
        {% endif %}
        {{ avg_function(selected_user_runs, "run_score", selected_user) }}</h4>
{% else %}
    <h4> cant compare cause there's not enough data for one of the users (user needs a minimum of 3 runs)</h4>
{% endif %}
</div>