{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
    {% block app_content %}
        <h1>Run Score: {{ score }}</h1>
        <h2>{{ run.date }}</h2>
        <h3> Distance: {{ run.distance }}</h3>
        <h3> Duration: {{ run.duration }}</h3>
        <h3> Avg Pace: {{ pace }}</h3>
        <h3> Logged Effort: {{ run.effort }}</h3>
        <h3> Temperature: {{ run.temp }}</h3>
        <h3> Time of Day: {{ run.time_of_day }}</h3>
        <h3> Weather: {{ run.weather }}</h3>
        <h3> Notes: {{ run.notes }}</h3>
        <h3>Sleep Recommendation: {{ rec }}</h3>
    {% endblock %}