{% extends "base.html" %}

{% block content %}
    <h3> Username: {{ user.username }}</h3>
    <h3> Email: {{ user.email }}</h3>
    <h3> Name: {{ user.name }}</h3>
    <h3> date_registered: {{ user.date_registered }}</h3>
    <h3> Bio: {{ user.bio }}</h3>
    <br>
    <h3> Total Miles: {{ total_miles }}</h3>
    <h3> Total Time: {{ total_time }}</h3>
    <h3> Avg Pace Overall: {{ overall_avg_pace }}</h3>
    <h3> Total Sleep Time: {{ total_sleep_time }}</h3>
    <h3> Run Score Overall: {{ avg_run_score }}</h3>
    <h3> Sleep Score Overall: {{ avg_sleep_score }}</h3>
    <br>
    <h3><a href="{{ url_for('day_display') }}">Home</a></h3>
{% endblock %}
